<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fat Cat Photos</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="login-container">
        <div class="login-wrap">
            <div class="login-bg">
            </div>
            <div class="login-content">
                <p class="welcome">Login!</p>
                <form action="." method="POST">
                    {% csrf_token %}
                    <div class="login-input">
                        <label for="">帳號</label>
                        <input type="text" name="username" id="username" />
                    </div>
                    <div class="login-input">
                        <label for="">密碼</label>
                        <input type="password" name="passwd" id="passwd" />
                    </div>
                    <span class="login-message">{{message}}</span>
                    <input type="submit" class="login-btn" name="button" id="button" value="登入" />
                </form>
                <a href="/signin/" class="signin-btn">尚無帳號，註冊新帳號！</a>
            </div>
        </div>
    </div>
</body>

</html>